<!DOCTYPE html>
<html lang="es">
<head>
<%- include('./partials/head.ejs') %>
</head>
<body>
  <header>
   <%- include('./partials/header.ejs') %>
  <!-- Fin del header -->
  </header>
  <!-- main -->
  <main>
    <section class="welcome__container">
      <article class="welcome__text-container">
        <h3>Confort</h3>
        <h2>Dise침o</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae voluptates eveniet quam corrupti eaque nihil voluptas, cum consequatur provident voluptatum hic sint nemo molestias ducimus pariatur assumenda quidem sed?</p>
        <a href="#">Ir al cat치logo<i class="fa-solid fa-arrow-right"></i></a>
      </article>
    </section>
    <!-- Implementar funcionalidad de vista dinamica en ofertas -->
    <section class="ofertas__section">
      <h2>Ofertas</h2>
      <div class="ofertas__container">

        <!-- EJS-->
        <% products.forEach(item=> { %>


        <!-- ITEMS -->
      <article class="ofertas__item">
        <div class="item__img">
          <img src="<%= item.img %>" alt="<%= item.name %>a">
        </div>
        <div class="item__text-container">
          <h3><%= item.name %></h3>
          <p class="price__before">$<%= item.price %></p>
          <p class="price__after">$<%= (item.price)*(1-(item.discount/100)) %></p>
          <p class="price__discount"><%= item.discount %>% OFF</p>
          <a href="/productDetail/<%= item.id %>">M치s info</a>
          <button class="ofertas__btn">A침adir al carrito</button>
          <button class="ofertas__btn btn__alternativo">Comprar ahora</button>
        </div>
      </article>
    </div>
    </section>

    <% }); %>

  </main>
  <footer>
    <%- include('./partials/footer') %>)
</body>
</html>