<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {title:'Zen Hogar | Bienvenid@s',
    styles:['normalize','styles','partials/footer','partials/header_test','create','modifyproduct', 'product-detail' ]})
    %>
</head>

<body>
  <header>
    <%- include('./partials/header_test') %>
  </header>
  <!-- main -->
  <main>

    <!-- contenedor principal -->
    <section class="product-detail__container">

  
      <!-- Imagen del producto -->
      <article class="product-detail__img">
        <img src="<%= productForDetail.img %>" alt="<%= productForDetail.productName %>">
      </article>


      <!-- Nombre del producto -->
      <section class="product-detail__info">
        <article class="info__title">
          <h2>
            <%= productForDetail.productName %>
          </h2>
          <p>Colores disponibles</p>
        </article>


        <!-- Colores disponibles -->
        <section class="info__colors">
          <article class="colors__1"></article>
          <article class="colors__2"></article>
          <article class="colors__3"></article>
        </section>


        <!-- Precio del producto -->
        <article class="info__price">
          <p class="price__after">
            <%= productForDetail.price %>
          </p>
          <p class="price__off">
            <%= productForDetail.discount %>% OFF
          </p>
          <p class="price__before">$<%= productForDetail.price*(1-(productForDetail.discount/100)) %>
          </p>
        </article>


        <!-- botones de accion -->
        <article class="info__actions">
          <button class="cashout__btn">Comprar ahora</button>
          <button class="cart__btn">Enviar al carrito</button>
        </article>

        <form action="/products/delete/<%= productForDetail.id %>?_method=DELETE" method="POST" class="info__actions">
          <button class="cashout__btn">ELIMINAR</button>
        </form>


        <!-- detalle del producto del producto -->
        <article class="info__etc">

          <ul>
            <li>Medidas: <%= productForDetail.medidas %>
            </li>
            <li>Peso: <%= productForDetail.peso %>
            </li>
            <li>Material: <%= productForDetail.material%>
            </li>
          </ul>
        </article>

      </section>

    </section>

  </main>
  <!-- main end -->
  <footer>
    <%- include('./partials/footer') %>

  </footer>
</body>

</html>