<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <!-- main -->
  <main>

    <!-- contenedor principal -->
    <section class="product-detail__container">


      <!-- Imagen del producto -->
      <article class="product-detail__img">
        <img src="<%= item.img %>" alt="<%= item.name %>">
      </article>


      <!-- Nombre del producto -->
      <section class="product-detail__info">
        <article class="info__title">
          <h2>
            <%= item.name %>
          </h2>
          <p>Colores disponibles</p>
        </article>


        <!-- Colores disponibles -->
        <section class="info__colors">
          <article class="colors__1"></article>
          <article class="colors__2"></article>
          <article class="colors__3"></article>
        </section>


        <!-- Precio del producto -->
        <article class="info__price">
          <p class="price__after">
            <%= item.price %>
          </p>
          <p class="price__off">
            <%= item.discount %>% OFF
          </p>
          <p class="price__before">$<%= (item.price)*(1-(item.discount/100)) %>
          </p>
        </article>


        <!-- botones de accion -->
        <article class="info__actions">
          <button class="cashout__btn">Comprar ahora</button>
          <button class="cart__btn">Enviar al carrito</button>
        </article>


        <!-- detalle del producto del producto -->
        <article class="info__etc">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio obcaecati aliquam quod.</li>
            <li>Facilis rem eos nostrum quas fugit ut perferendis delectus illum, cumque dolorum?</li>
            <li>Unde esse expedita sit necessitatibus facilis vitae asperiores voluptas laborum libero delectus?</li>
            <li>Perferendis quo, ullam dolor tempore consequatur nostrum! Quos animi tempore sunt molestiae?</li>
            <li>Ab dicta enim excepturi facere quod deserunt, tenetur nesciunt fuga! Doloremque, soluta!</li>
          </ul>
        </article>

      </section>

    </section>

  </main>
  <!-- main end -->
  <footer>
    <%- include('./partials/footer') %>

  </footer>
</body>

</html>