<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head', {title:'Panel de administrador | Productos', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
</head>
<body>
  <%- include('../../partials/header_test') %>
  <main>
    <section class="section__container admin__list-section">
      <article class="article__container admin__list-article">
        <h2>Todos los productos</h2>
        <form action="/products/search" method="GET">
          <input type="search" name ="keyword" placeholder="Ingresa el nombre del producto" class="search__input admin__search-input">
          <button type="submit" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="admin-product__list">
          <% products.forEach(product => { %>
            <div class="product__card">
              <img src="/img/uploads/products/<%= product.productImg %>" alt="<%= product.productName %>">
              <h3><%= product.productName %></h3>
              <p class="price__final">$<%= product.productPrice %></p>
              <a href="/products/detail/<%=product.id%>" class="mini__btn">+ Más info...</a>
              <a href="/products/modify/<%=product.id%>"class="main__btn card__btn">Modificar</a>
              <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="main__btn card__btn card__btn-red">Eliminar</button>
              </form>
            </div>
            <% }) %>
        </div>
      </article>
    </section>
  </main>
  <%- include('../../partials/footer') %>
</body>

</html>