<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head', {title:'Panel de administrador', styles:['normalize','new_styles','partials/footer','partials/header','adminDashboard']}) %>
</head>

<body>
    <%- include('../../partials/header') %>
    <main class="admin-dashboard__container">
     <section class="admin-main-menu__container">
      <nav>
        <ul>
          <li><a href="/admin/dashboard/users">Administrar usuarios</a></li>
          <li><a href="/admin/dashboard">Administrar productos</a></li>
          <li><a href="#">Administrar categorias</a></li>
        </ul>
      </nav>
     </section>
     <section class="admin-workbench__container">
        <nav class="admin-workbench__nav">
          <div class="search-bar">
            <form action="#">
            <input type="search" name="search" class="search-bar__input" placeholder="Busquemos algo...">
            <button class="search-bar__btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          </div>
          <div class="admin-workbench__btns">
          <a href="/admin/products/create" class="new-btn">Crear producto</a>
          </div>
        </nav>
        <article class="admin-list__container">


          <% locals.users.forEach(element => { %>
            <div class="list-item">
              <figure class="item__figure">
                <img class="item__img" src="/img/uploads/users/<%=element.profileImg%>" alt="">
              </figure>
              <div class="item__info">
                <p>Nombre: <span class="items-props"><%= element.name %> </span></p>
                <p>Apellido: <span class="items-props"><%= element.lastname %> </span></p>
                <p>ID: <span class="items-props"><%= element.id %> </span></p>
              </div>
              <div class="item__info-extra">
                <p>Email: <span class="items-props"><%= element.email %> </span></p>
                <p>Telefono: <span class="items-props"><%= element.phone %></span></p>
                <p>Fecha creación: <span class="items-props"><%= new Date(element.createdAt).toLocaleDateString() %> </span></p>
              </div>
              <div class="item__btns">
                <a href="/admin/users/edit/<%= element.id%>" class="new-btn">Modificar</a>
                <form action="/admin/users/delete/<%= element.id%>?_method=DELETE" method="POST">
                <input type="submit" class="new-btn" value="Eliminar" />
                </form>
              </div>
            </div>
          <% }) %>
        </article>
     </section>
    </main>
    <%- include('../../partials/footer') %>
</body>

</html>