<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:'Formulario de registro',
  styles:['normalize','styles','partials/footer','partials/header_test']}) %>

  <body>
    <%- include('../partials/header_test') %>
      <main>

        
          <section class="section__container register__sucess-container">
            <article class="article__container register__success">

              <!-- pendiente aplicar nombre EJS -->
              <h2>Bienvenid@ <%= user.firstName + " " + user.lastName %>

              </h2>
             
              <h3><i class="fa-solid fa-circle-check"></i></h3>
              <ul>
                <li><a href="/products">Ver productos</a></li><br><br>
                <li><a href="/users/profile/<%= user.id %>">Editar perfil</a></li>
              </ul><br><br>

              <form action="/users/logout" method="GET">
                <input type="submit" value="Cerrar Sesion" class="main__btn card__btn-green"><br>
              </form>
           
            </article>
          </section>

          

        
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>