<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:'Perfil', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
</head>

<body>
    <%- include('../partials/header_test') %>
    <main>
      <%= user.id %>
      <%= user.firstName %>
      <%= user.LastName %>
      <%= user.email %>
      <img src="/img/uploads/users/avatars/<%= user.avatar %>" alt="">

    </main>
    <%- include('../partials/footer') %>
</body>
</html>