<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: products.productName,
        styles:['normalize','styles','partials/footer','partials/header_test', 'cart' ]}) %>
</head>

<body>
    <header>
        <%- include('../partials/header_test') %>
    </header>


    <main>

        <section class="title-container">


            <!-- Texto titulo de carrito -->
            <article class="title-container__text">
                <h2>Mi Carrito</h2>
            </article>


            <!-- Boton Vaciar carrito -->
            <arrticle class="title-container__emty-cart">
                <button>Vaciar Carrito</i></button>
            </arrticle>


            <!-- link para volver al home -->
            <arrticle class="title-container__back-button">
                <a href="/">
                    <p><i class="fa-solid fa-chevron-left"></i> Volver al Catalogo</p>
                </a>
            </arrticle>


        </section>

        <section class="main-container">


            <section class="main-container__item-list">
                <% cartItem.forEach(element=> { %>

                    <!--Imagen producto-->
                    <article class="main-container__item-list__img">
                        <img src="/img/uploads/products/<%= element.productImg %>" alt="">
                    </article>


                    <!--Detalles del producto-->
                    <section class="main-container__item-list__details">

                        <!-- Nombre del producto -->
                        <article class="item-description">
                            <h3>
                                <%= element.productName %>
                            </h3>
                        </article>


                        <!-- informacion de envio -->
                        <article class="shipping-text">
                            <h4>
                                Informacion envio
                            </h4>
                        </article>


                        <!-- boton de cantidad -->
                        <article class="qty-button">
                            <button class="decrement"> - </button>
                            <input type="number" min="0" max="100" step="5" value="1" id="my-input" readonly>
                            <button class="increment"> + </button>
                        </article>


                        <!-- Link para editar -->
                        <article class="edit-details">
                            <a href="#">Editar</a>
                        </article>

                    </section>


                    <!--Contenedor boton de borrar y precio-->
                    <section class="main-container__item-list__eraseAndPrice">

                        <!-- boton borrar producto -->
                        <article class="erase-button">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </article>


                        <!-- precio del producto -->
                        <article class="price">
                            <p>$<%= element.productPrice%></p>
                        </article>

                    </section>






            </section>
            <% }); %>



                <section class="main-container__payment-detail">

                    <p>TOTAL</p>

                </section>


        </section>

    </main>


    <footer>

        <%- include('../partials/footer') %>



    </footer>

</body>

</html>