<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title:'Zen Hogar | Catálogo', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
<body>
  <%- include('../partials/header_test') %>
  <main>
    <section class="section__container products__section-container">
      <article class="article__container search-bar__container">
        <form action="/products/search" method="GET">
          <input type="search" name ="keyword" placeholder="¿ Buscas algo en particular... ? :)" class="search__input">
          <button type="submit" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </article>
      <section class="article__container categories__container">
        <% for(let key in categories){%>
        <article class="categories__card-container">
          <a href="#">
          <img src="https://picsum.photos/200" alt="">
          <h2><%= categories[key] %></h2>
          </a>
        </article>
        <% }%>
      </section>
      <% if (search) { %>
        <h3 class="products-area__text article__container">Resultados de la búsqueda para: <span><%= userSearch %></span></h3>
      <% }else { %>
        <h3 class="products-area__text article__container">Tal vez te interesen estos productos:</h3>
      <% } %>
      <section class="products__list article__container">
        <% if (products.length === 0) { %>
          <h3 class="search__not-found article__container">No se encontraron resultados para: <span><%= userSearch %></span></h3>
        <% }else { %>
        <% products.forEach(product => { %>
        <div class="product__card">
          <img src="/img/uploads/products/<%= product.productImg %>" alt="<%= product.productName %>">
          <h3><%= product.productName %></h3>
          <p class="price__final">$<%= product.productPrice %></p>
          <a href="/products/detail/<%=product.id%>" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
        <% }) %>
        <% } %>
      </section>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>