<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: product.productName, styles:['normalize','styles','partials/footer','partials/header_test']}) %>
</head>
<body>
  <main>
    <%- include('../partials/header_test') %>
    <section class="section__container modify__product-container">
      <article class="article__container">
        <div class="register__text-title">
          <h3>Formulario: Modificaci贸n de producto</h3>
          <p><%= product.productName %></p>
          </div>
        <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="create__product-form">
          <!-- Nombre del producto -->
          <div>
          <label for="productName" class="form__label">Nombre del producto:</label>
          <input type="text" name="productName" value="<%= product.productName %>" class ="form__input"><br>
        </div>
        <!-- Categoria del producto -->
          <div>
          <label for="productCategory" class="form__label" placeholder="Seleccione una categoria">Categoria:</label>
          <select name="productCategory" id="productCategory" class="form__input">
            <option value="" disabled selected hidden>Seleccione una categoria</option>
            <option value="sillon">Sillon individual</option>
            <option value="sofa-L">Sofa L</option>
            <option value="iluminacion">Iluminaci贸n</option>
            <option value="sillas">Sillas</option>
            <option value="deco">Deco</option>
          </select>
        </div>
          <!-- Medidas del producto -->
            <div>
          <label for="productSize" class="form__label">Medidas del producto:</label>
          <input type="text" name="productSize" value="<%= product.productSize %>" class ="form__input"><br>
        </div>
        
          <!-- Img del producto -->
          <div>
          <label for="productImg" class="form__label">Elige una imagen:</label>
          <input type="file" name="productImg" id="productImg" class ="form__input" accept="image/*"><br>
        </div>
          <!-- Imagen posterior del producto -->
          <div class="modify__product-img__container">
            <!-- <img src="/img/uploads/ACA VA LA RUTA DINAMICA" alt=""> -->
            <img src="/img/uploads/products/<%=product.productImg%>" alt="<%= product.productName %>" class="modify__product-img">
          </div>
          <!-- Precio del producto -->
          <div>
          <label for="productPrice" class="form__label">Precio:</label>
          <input type="text" name="productPrice" id="productPrice" class ="form__input" value="<%= product.productPrice %>"><br>
        </div>
          <!-- Descripci贸n del producto -->
          <div>
          <label for="productDescription" class="form__label">Escriba una descripci贸n del producto</label>
          <textarea maxlength="500" type="text" name="productDescription" id="productDescription" class ="form__input" placeholder= "<%= product.productDescription %>" value="<%= product.productDescription %>"></textarea>
        </div>
          <div class="create__products-btn">
          <input type="submit" value="Modificar" class="main__btn card__btn-green">
          <a href="/products" class="main__btn card__btn cancel__btn"> Cancelar </a>
          </div>
        </form>
      </article>
    </section>
    <%- include('../partials/footer') %>
  </main>
</body>
</html>
